/products/node_modules/
/products/dist/
/cart/node_modules/
/container/node_modules/
/.idea/php.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/microfrontend-react.iml
/.idea/.gitignore
/auth/node_modules/
/dashboard/node-modules/
/marketing/node_modules/